<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开启二级缓存 -->
        <!--<setting name="cacheEnabled" value="true"/>-->
        <!-- 设置超时时间，它决定驱动等待数据库响应的秒数。 -->
        <!--<setting name="defaultStatementTimeout" value="3000"/>-->
        <!-- 开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--	允许 JDBC 支持自动生成主键，需要驱动兼容。默认false。 如果设置为 true 则这个设置强制使用自动生成主键，尽管一些驱动不能兼容但仍可正常工作-->
        <!--<setting name="useGeneratedKeys" value="true"/>-->
    </settings>

    <!--别名处理器-->
    <typeAliases>
        <!--package:为某个包下的所有类批量起别名 -->
        <package name="com.wyy.bean"/>
    </typeAliases>
    
    <plugins>
        <!--注册 pagehelper分页插件，如何使用参考：https://github.com/pagehelper/Mybatis-PageHelper-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--reasonable：分页合理化参数，默认值为false。
            当该参数设置为 true 时，pageNum<=0 时会查询第一页， pageNum>pages（超过总数时），会查询最后一页。
            默认false 时，直接根据参数进行查询。-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>