@CHARSET "UTF-8";

.wrapper .sign-in-htm,
.wrapper .sign-out-htm,
.wrapper .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);/*rotateY(angle)：沿着 Y 轴的 3D 旋转。*/
		-moz-transform:rotateY(180deg);
		-ms-transform:rotateY(180deg);
	        transform:rotateY(180deg);/*transform 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜。*/
	-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
	        backface-visibility:hidden;	/*隐藏被旋转的 元素的背面*/
	-webkit-transition:all .4s linear;
		-moz-transition:all .4s linear;
	        transition:all .4s linear;/*设置过渡效果*/
}

.wrapper{
	min-height:345px;
	position:relative;
	/*-webkit-perspective:1000px;
	        perspective:1000px;*/
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}

.sign-in:checked + .sign-up + .sign-out + .wrapper .sign-in-htm{
	-webkit-transform:rotate(0);/* Safari 和 Chrome */
		-moz-transform:rotate(0);/* Firefox */
	    -ms-transform:rotate(0);/* IE 9 */
	        transform:rotate(0);
}
.sign-out:checked + .wrapper .sign-out-htm{
	-webkit-transform:rotate(0);
		-moz-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}
.sign-up:checked + .sign-out + .wrapper .sign-up-htm{
	-webkit-transform:rotate(0);
		-moz-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}